.popup__button-close{
  position: absolute;
  top: -38px;
  right: -38px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/CloseIcon.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popup__button-close:hover{
  opacity: 0.6;
}
@media screen and (max-width: 500px) {
  .popup__button-close{
    top: -30px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}